In [2]:
import findspark
findspark.init()
findspark.find()

from pyspark.sql import SparkSession
import pyspark.sql.functions as f
from pyspark.sql.types import *

In [3]:
spark = SparkSession.builder.appName('mycourse').getOrCreate()

In [4]:
df = spark.read.csv(r'C:\Users\alex\Desktop\PySpark Crash Course Learn Spark Quickly\1 - Introduction\2 - course-file\course_file.csv', header=True)

In [5]:
df.show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

In [6]:
df.printSchema()

root
 |-- date_time: string (nullable = true)
 |-- userid: string (nullable = true)
 |-- domain: string (nullable = true)
 |-- dlbytes: string (nullable = true)
 |-- ulbytes: string (nullable = true)
 |-- clientip: string (nullable = true)
 |-- serverip: string (nullable = true)
 |-- country: string (nullable = true)
 |-- txn_time: string (nullable = true)
 |-- http_method: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- platform: string (nullable = true)

In [7]:
df.describe().show()

+-------+-------------------+--------------------+-----------------+------------------+-----------------+-----------+------------+-------+------------------+-----------+--------------------+--------+
|summary|          date_time|              userid|           domain|           dlbytes|          ulbytes|   clientip|    serverip|country|          txn_time|http_method|          user_agent|platform|
+-------+-------------------+--------------------+-----------------+------------------+-----------------+-----------+------------+-------+------------------+-----------+--------------------+--------+
|  count|             100000|              100000|           100000|            100000|           100000|     100000|      100000| 100000|            100000|     100000|              100000|  100000|
|   mean|               NULL|5.010135665120539E12|             NULL|      499993.58573|     499925.16314|       NULL|        NULL|   NULL|1.4980519999999975|       NULL|                NULL|    NULL|
| stddev|               NULL|2.898286126875014...|             NULL|288565.82296079345|288284.7692300469|       NULL|        NULL|   NULL|0.8669253606232833|       NULL|                NULL|    NULL|
|    min|2023-10-01 00:00:01|       0000034807482|abbott-barnes.com|            100000|           100022|1.0.166.229|  1.1.144.16|England|               0.0|       HTTP|Mozilla/5.0 (Andr...| Android|
|    max|2023-10-05 23:58:52|       9999986035271|        young.org|            999994|           999975|99.99.69.51|99.97.24.198|  Wales|               3.0|      HTTPS|Opera/9.99.(X11; ...|     iOS|
+-------+-------------------+--------------------+-----------------+------------------+-----------------+-----------+------------+-------+------------------+-----------+--------------------+--------+

In [8]:
# how many rows the data has
df.count()

100000

In [9]:
df.columns

['date_time',
 'userid',
 'domain',
 'dlbytes',
 'ulbytes',
 'clientip',
 'serverip',
 'country',
 'txn_time',
 'http_method',
 'user_agent',
 'platform']

In [10]:
df.dtypes

[('date_time', 'string'),
 ('userid', 'string'),
 ('domain', 'string'),
 ('dlbytes', 'string'),
 ('ulbytes', 'string'),
 ('clientip', 'string'),
 ('serverip', 'string'),
 ('country', 'string'),
 ('txn_time', 'string'),
 ('http_method', 'string'),
 ('user_agent', 'string'),
 ('platform', 'string')]

In [11]:
# select opertaion
countries = df.select('country', 'dlbytes')
countries.show()

+--------+-------+
| country|dlbytes|
+--------+-------+
| England| 872807|
|   Wales|  50898|
|Scotland| 964276|
| England| 212529|
|   Wales| 553626|
| England|  43595|
| England| 270574|
|Scotland| 342378|
|Scotland| 613214|
| England| 643362|
| Ireland| 603759|
| England| 707145|
|   Wales| 640439|
| England| 764956|
| Ireland| 651947|
| Ireland| 428528|
|   Wales|  23710|
|   Wales| 447095|
| England| 809701|
|Scotland| 204941|
+--------+-------+
only showing top 20 rows

In [69]:
from pyspark.sql.types import *
#define a custom schema
custome_schema = StructType([
    StructField('date_time', StringType(), True),
    StructField('userid', StringType(), True),
    StructField('domain', StringType(), True),
    StructField('dlbytes', IntegerType(), True),
    StructField('ulbytes', IntegerType(), True),
    StructField('clientip', StringType(), True),
    StructField('serverip', StringType(), True),
    StructField('country', StringType(), True),
    StructField('txn_time', FloatType(), True),
    StructField('http_method', StringType(), True),
    StructField('user_agent', StringType(), True),
    StructField('platform', StringType(), True)
])


# load the data with the custom schema
data_path = r'C:\Users\alex\Desktop\PySpark Crash Course Learn Spark Quickly\1 - Introduction\2 - course-file\course_file.csv'
df = spark.read.csv(data_path, schema=custome_schema, header=True)

# show the loaded Datafarme
df.show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

In [30]:
df.printSchema()

root
 |-- date_time: string (nullable = true)
 |-- userid: string (nullable = true)
 |-- domain: string (nullable = true)
 |-- dlbytes: integer (nullable = true)
 |-- ulbytes: integer (nullable = true)
 |-- clientip: string (nullable = true)
 |-- serverip: string (nullable = true)
 |-- country: string (nullable = true)
 |-- txn_time: float (nullable = true)
 |-- http_method: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- platform: string (nullable = true)

# Dealing with nulls

In [68]:
# dealing with null values
df.fillna({
    'dlbytes': 0,
    'ulbytes': 0,
    'country':'unknown'
}).show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

In [67]:
# apply a single rule over the entire dataset
df.fillna('1').show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

In [71]:
# drop null rows
df.dropna().show(5)

# drop only the rows where country have nulls
df.dropna(subset=['country']).show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

In [35]:
average = df.agg(F.avg('dlbytes')).collect()[0][0]

In [65]:
print(average)

df.fillna({
    'dlbytes': average,
    'ulbytes': 0,
    'country':'unknown'
}).show(5)

499993.58573
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

# Grouping

In [37]:
# create a temp view to run sql queries available only for this session, if we use golobal than its available for all the session
df.createOrReplaceTempView('dfsql')

In [40]:
# create aggregations using sql statements
spark.sql(
    """
    select country, count(*) as cnt 
    from dfsql
    where dlbytes > 500000
    group by country
"""
).show()

+--------+-----+
| country|  cnt|
+--------+-----+
|   Wales|12503|
| Ireland|12446|
| England|12667|
|Scotland|12322|
+--------+-----+

In [45]:
grouped_df1 = df.groupBy('country').agg(
    {
        'dlbytes':'sum',
        'ulbytes':'avg'
    }
)#.show()

grouped_df1.withColumnRenamed('avg(ulbytes)','AvgUL').show()

+--------+------------------+------------+
| country|             AvgUL|sum(dlbytes)|
+--------+------------------+------------+
|   Wales| 501170.9036600422| 12506206681|
| Ireland|498588.33693996957| 12496130770|
| England| 500240.4421728041| 12629527260|
|Scotland|499690.46323203866| 12367493862|
+--------+------------------+------------+

In [ ]:
import pyspark.sql.functions as f

In [64]:
df.groupBy('country', 'platform').agg(
    f.sum('dlbytes').alias('DL'),
    f.avg('ulbytes').alias('UL'),
    f.count('*').alias('row_count')
).show(5)

+--------+--------+----------+------------------+---------+
| country|platform|        DL|                UL|row_count|
+--------+--------+----------+------------------+---------+
| England| Windows|2519261611|496956.96056562435|     5021|
|   Wales| Android|2486373821| 499227.4556886228|     5010|
| Ireland| Android|2462635163| 501362.6873722926|     4894|
| Ireland|     Mac|2507337591| 496117.7526796348|     5038|
|Scotland| Windows|2492168780|498358.41915447806|     4991|
+--------+--------+----------+------------------+---------+
only showing top 5 rows

# Adding columns

In [52]:
# add a new column
df.withColumn('total_bytes', f.col('dlbytes') + f.col('ulbytes')).show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+-----------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|total_bytes|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+-----------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|    1614333|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|     580402|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|    1916696|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|    1024416|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|    1455054|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+-----------+
only showing top 5 rows

In [63]:
df.withColumn('year', f.year('date_time')).show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+----+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|year|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+----+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|2023|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|2023|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|2023|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|2023|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|2023|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+----+
only showing top 5 rows

In [62]:
df.withColumn('txntime_milliseconds', f.col('txn_time') * 1000).show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+--------------------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|txntime_milliseconds|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+--------------------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|              2330.0|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|              1200.0|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|              1320.0|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|              2580.0|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|              1530.0|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+--------------------+
only showing top 5 rows

In [61]:
df.withColumn(
    'device_type', f.when(f.col('platform')\
                .isin('ios','android'), 'mobile')\
                .otherwise('desktop')
).show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+-----------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|device_type|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+-----------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|    desktop|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|    desktop|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|    desktop|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|    desktop|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|    desktop|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+-----------+
only showing top 5 rows

# Duplicates

In [60]:
# droping all duplicates
df.dropDuplicates().show(5)

+-------------------+-------------+-----------------+-------+-------+---------------+--------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|           domain|dlbytes|ulbytes|       clientip|      serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+-----------------+-------+-------+---------------+--------------+--------+--------+-----------+--------------------+--------+
|2023-10-01 01:44:48|7459811387109|james-hopkins.org| 267656| 765048|110.244.252.192| 52.61.179.158|   Wales|     2.4|      HTTPS|Mozilla/5.0 (Linu...| Windows|
|2023-10-05 13:33:08|1967082172676|   rogers-cox.org| 988154| 578020|   58.175.76.51|  9.224.91.149| Ireland|    0.35|      HTTPS|Opera/8.36.(Windo...| Android|
|2023-10-04 01:45:30|7168289460941|black-allen.co.uk| 885953| 881854|  195.84.120.68| 13.175.78.172|Scotland|    1.84|      HTTPS|Mozilla/5.0 (Maci...| Android|
|2023-10-04 16:07:28|5195176930834|      thomson.biz| 807182| 104839|    14.9.85.211|28.187.167.208| England|    2.31|      HTTPS|Mozilla/5.0 (iPod...|     Mac|
|2023-10-04 18:46:04|7472862830582|    knowles.co.uk| 266207| 203596|  196.39.64.231|  88.165.0.122| England|    2.02|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
+-------------------+-------------+-----------------+-------+-------+---------------+--------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

In [76]:
df = df.dropDuplicates(['userid'])#.show(5)

In [77]:
# check duplicates
df.groupBy('userid').count().show()

+-------------+-----+
|       userid|count|
+-------------+-----+
|9476243665412|    1|
|7435163662288|    1|
|6078186529360|    1|
|0404364283997|    1|
|9712471062565|    1|
|5518019884193|    1|
|0154603546029|    1|
|0975095706028|    1|
|0092213970495|    1|
|8292463551450|    1|
|9193610451990|    1|
|8470101955002|    1|
|4096254500198|    1|
|7089895133125|    1|
|0133730261390|    1|
|8300394808680|    1|
|1409348237572|    1|
|8781094037166|    1|
|1837572565487|    1|
|9743743756974|    1|
+-------------+-----+
only showing top 20 rows

# Export file

In [ ]:
df.write.csv(r'C:\Users\alex\Desktop\PySpark Crash Course Learn Spark Quickly\1 - Introduction\2 - course-file\my_csv_file.csv')

In [ ]:
# if we want to change the partitions and dont want multiple files
df = df.coalesce(1)

In [ ]:
df.write.json('hsonfile')